<%- include('partial') %>
<body>
    <h1>At foo bar</h1>
<h2><%= drink.name %></h2>
<img src="<%= drink.image %>.png" alt="<%= drink.name %>">
<h3>Price: <%= drink.price %></h3>
<a href="/drinks">Back</a>
</body>